*{
        font-family: "Montserrat" ,Arial, Helvetica, sans-serif;
}

body{
    text-align: center;
    background-color: #F1FAEE;
    color:#1D3557;

}
h2 b{
    color: red; 
}
.box-container{
    display: flex;
    justify-content: center;
}

.box{
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;

}
.line-1 .box{
    margin-right: 1rem;
}
.line-2 .box{
    margin-left : 1rem;
}
.start{
   width: 6rem;
   height: 3.5rem;
   font-size: 1.5rem;
   border-radius: 1rem;
   font-weight: 500;
   cursor: pointer;
   margin-top: 1.25rem;
}
.red{
    background-color: #E63946;

}
.blue{
    background-color: #457B9D;
}
.green{
    background-color: #2A9D8F;
}
.yellow{
    background-color: #F4A261;
}

.flash{
   background-color: #A7F3F3;
}
.userflash{
    background-color: #FFD93D;
}
@media (max-width : 600px){
    .box{
        width: 8rem;
        height: 8rem;
    }
}
